.about {
    display: flex;
    height: 800pt;
}

.about__dogs {
    display: flex;
    height: 900pt;
}
.emma {
    width: 550px;
    height: 550px;
    padding: 20pt;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    justify-content: baseline;
}

.bandit {
    width: 450px;
    height: 650px;
    padding: 20pt;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    justify-content: baseline;
}

.brandy {
    width: 400px;
    height: 450px;
    padding: 20pt;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    justify-content: baseline;
}

.nick {
    width: 550px;
    height: 550px;
    padding: 20pt;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    justify-content: baseline;
}

.dogs {
    width: 680px;
    height: 500px;
    padding: 20pt;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    justify-content: baseline;
}