
.home__header {
    display: flex;
    justify-content: space-evenly;
    padding: 20pt;
    background:-webkit-linear-gradient(tan 50%,red 100%);
}

.title {
    font-size:3rem;
    padding-left: 100pt;
    font-family:'Courier New', Courier, monospace;
}

.header__buttons {
    display: flex;
    justify-content: space-evenly;
}


.burger__menu {
    color: crimson;
    font-size: xx-large;
}

.processes {
    background-image: url("/src/images/red_table.jpg");
    /* width: 1450px; */
    height: 1050px;
    padding: 20pt;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke: 1px white;
    justify-content: baseline;
}

.how__to {
    background-image: url("/src/images/moonshining.jpeg");
    padding: 20pt;
    /* width: 1400px; */
    height: 1000px;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bolder;
    text-align:justify;
    color: red;
    justify-content: baseline;
}

.home__footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20pt;
    background:-webkit-linear-gradient(tan 50%,red 100%);
}


.burger__button {
    position: fixed;
    width: 5%;
    height: 5%;
    left: 5%;
    top: 5%;
  }

.buttons {
    font-size: 20pt;
    color: crimson;
}

.how_to_links {
    color: white;
}

.how_to_links:hover {
    color: white;
}