.new__label__fields {
    display: grid;
    font-size:2rem;
    -webkit-text-stroke: 1px black;
    color: crimson;
    font-weight: bold;
    padding: 20pt;
    border: 2px solid brown;
    box-shadow: -15px 7px 1px brown;
}


.label_spirit {
    display: grid;
    font-size: 15pt;
    padding: 20pt;
}

.field {
    font-size: large;
}

.optional {
    font-size:1.1rem;
    -webkit-text-stroke: 1px black;
    color: crimson;
}


.submit__button {
    font-size:1.5rem;
    font-weight: bold;
    background-color: green;
    color: white;
    -webkit-text-stroke: 1px black;
}

.arial {
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}


.cursive {
    font-family: cursive;
    font-size: large;
}

.courier {
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}


.fantasy {
    font-family:fantasy;
    font-size: large;
}


.roman {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.button__section {
    padding: 20pt;
    text-align: center;
}

.image {
    height: 150px;
}

.label__field {
    display: flex;
}

.choose__file {
    font-size: x-large;
    padding-top: 20pt;
}

.label__preview {
    font-size:2rem;
    -webkit-text-stroke: 1px black;
    color: green;
    font-weight: bold;
}

.preview__label__fields {
    display: grid;
    font-size:2rem;
    /* -webkit-text-stroke: 1px black; */
    color: crimson;
    font-weight: bold;
    padding: 20pt;
    border: 2px solid green;
    box-shadow: -15px 7px 1px green;
}

.purple {
    font-size: x-large;
    background-color: purple;
    font-weight: bold;
    color: white;
}

.green {
    font-size: x-large;
    background-color: green;
    color: white;
    font-weight: bold;
}

.yellow {
    font-size: x-large;
    background-color: yellow;
    font-weight: bold;
}

.blue {
    font-size: x-large;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.red {
    font-size: x-large;
    background-color: red;
    font-weight: bold;
}